<mat-toolbar color="primary">
  Login
</mat-toolbar>

<div class="container">
  <form novalidate [formGroup]="loginForm" #lform="ngForm" (ngSubmit)="onLoginSubmit()">
    <p>
      <mat-form-field>
        <input matInput formControlName="email" placeholder="Registered Email-ID" type="text" required>
        <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password" required>
        <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
      </mat-form-field>
    </p>
    <button type="submit" mat-button class="background-primary
    text-floral-white">Login</button>
  </form>

</div>