<mat-toolbar class="headercolor"> <span><a mat-button routerLink="/home" routerLinkActive="active"><img src="/assets/img/iimlogo.png" height=50 width=50></a></span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;  Logistics Management Game   </span> </mat-toolbar>
<router-outlet></router-outlet>


<div class="footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">
<mat-toolbar class="footercolor"> <span>© Copyright 2019 | </span> </mat-toolbar>
</div>
