.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    min-width: 44px;
    line-height: 18px;
}

tr.mat-row {
    height: 20px;
}

tr.mat-header-row {
    height: 36px;
}