<div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center"
  fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="8%">

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span><a mat-button routerLink="/admin/adminLogin" routerLinkActive="active"><i class="fa fa-user-plus" aria-hidden="true"></i> Admin</a>
    </span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span><a mat-button routerLink="/user/userLogin" routerLinkActive="active"><i class="fa fa-user" aria-hidden="true"></i> User</a></span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span><a mat-button routerLink="/prof/login" routerLinkActive="active"><i class="fa fa-user" aria-hidden="true"></i> Professor</a></span>
      </mat-toolbar-row>
      </mat-toolbar>
  </div>

</div>
<br>
<br>